extends layout

block content
  h1= title
  p Welcome to #{title}

  .lthex

  script(type="text/javascript" src="javascripts/hex_lib.js")
  //script(type="text/javascript" src="javascripts/hexmind.js")
  //script(type="text/javascript" src="javascripts/barchart.js")
  //script(type="text/javascript" src="javascripts/simple_hexagons.js")
  script(type="text/javascript" src="javascripts/rotating_hexagon.js")