doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="d3/d3.js")
    script(type="text/javascript" src="d3/d3-color.js")
    script(type="text/javascript" src="d3/d3-dispatch.js")
    script(type="text/javascript" src="d3/d3-ease.js")
    script(type="text/javascript" src="d3/d3-interpolate.js")
    script(type="text/javascript" src="d3/d3-path.js")
    script(type="text/javascript" src="d3/d3-selection.js")
    script(type="text/javascript" src="d3/d3-shape.js")
    script(type="text/javascript" src="d3/d3-timer.js")
    script(type="text/javascript" src="d3/d3-transition.js")
  body
    block content
